@charset "UTF-8";

// $main-color:rgb(242, 242, 242);
// $sub-color:rgb(51,51,51);
// $accent-color:rgb(148, 45, 47);

div.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    h1{
        font-size: 240px;
        margin: 0 auto;
        padding-top: 160px;
        color: rgb(169, 184, 232);
        
    }
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p{
        font-size: 40px;
        margin: 0 auto;        
        color: rgb(169, 184, 232);  

    }

}


// グラデーション
body {
    background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
  }