@charset "UTF-8";

// $main-color:rgb(242, 242, 242);
// $sub-color:rgb(51,51,51);
// $accent-color:rgb(148, 45, 47);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: clamp(80px, 3vw * 10, 240px);
  color: hsl(226, 58%, 79%);
}
p {
  font-size: clamp(16px, 4vw, 40px);
  color: hsl(226, 58%, 79%);
}
.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: auto;
}
.wraper {
  display: grid;
  place-items: center;
}

// グラデーション
body {
  background: linear-gradient(-135deg, #e4a972, #9941d8) fixed;
}
